<h2 class="content-subhead">Search</h2>

<form method="get" action="/search">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if @query_results_chapters_list.empty? && params[:query].nil? %>
<% elsif @query_results_chapters_list.empty? %>
  <p>Sorry, no match were found</p>
<% else %> 
  <h2 class="content-subhead">Results for '<%= params[:query] %>'</h2>

  <ul>
    <% @query_results_chapters_list.each do |chapter| %>
      <li>
        <h4><%= chapter[:name] %></h4>
        <ul>
          <% chapter[:paragraphs].each do |index, text| %>
            <li>
              <a href="/chapters/<%= chapter[:number] %>#paragraph<%= index %>">
                <%= highlight(text, params[:query]) %>
              </a>
            </li>
          <% end %>
        </ul>
      </li> 
    <% end %>
  </ul>
<% end %>
